body {
  background-color: #f6f6f7;
  font-family: "Nebula Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  overflow: hidden;
}

body {
  background-color: #f6f6f7;
  overflow: auto;
}

.loginPage-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.loginPage-card {
  border-radius: 5px;
  box-shadow: 0 15px 45px 0 #c7d0f0;
  overflow: hidden;
  text-align: center;
  width: 250px;
}

.add-staff {
    display: flex;
    justify-content: center;
    background: #f9f9f9;
    color: #bebebe;
    align-items: center;
    font-size: 32px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 2px dotted #bbbbbb;
    user-select: none;
    transition: 0.3s filter;
}

.staff-container {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.staff-card {
    border: 1px solid #f6f6f7;
    border-radius: 5px;
    background: #f9f9f9;
    padding: 10px;
    transition: 0.3s;
    text-align: center;
    margin-right: 25px;
}

.staff-card > h2 {
    font-size: 20px;
    font-weight: 400; 
    margin-bottom: 10px;
    color: #4f5660;
}

.staff-card > h2 > span {
      color:  rgb(144, 153, 164);
}

.staff-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.add-staff:hover {
  cursor: pointer;
}

.loginPage-card-contents {
  background-color: #7289da;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  padding-top: 60px;
  padding-bottom: 55px;
}

.confirmation-modal-wrapper {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 45px 0 rgba(4, 4, 5, .1);
    color: #36393f;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirmation-modal {
      display: flex;
        flex-flow: column;
        align-items: stretch;
        justify-content: flex-start;
}

.confirmation-modal-inner {
      display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.confirmation-modal-inner-summary {
  color: #36393f;
  font-size: 18px;
  position: relative;
  max-width: 300px;
}

.confirmation-modal-inner-span {
  text-align: left;
    color: rgb(79, 84, 92);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.confirmation-modal-inner input {
      border: 0px;
    border-radius: 3px;
    box-shadow: rgb(227, 229, 232) 0px 0px 0px 1px;
    color: rgb(79, 86, 96);
    font-weight: 500;
    line-height: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.confirmation-modal-inner input::-webkit-input-placeholder {
    color: #e3e5e8;
    font-weight: 500
}

.confirmation-modal-inner input::placeholder {
    color: #e3e5e8;
    font-weight: 500
}

.confirmation-modal-inner input:hover {
    box-shadow: 0 0 0 1px #c7d0f0
}

.confirmation-modal-inner input:hover::-webkit-input-placeholder {
    color: #9099a4
}

.confirmation-modal-inner input:hover::placeholder {
    color: #9099a4
}

.confirmation-modal-inner input:focus {
    box-shadow: 0 0 0 1px #7289da, 0 0 6px 0 #c7d0f0;
    color: #7289da
}

.confirmation-modal-inner input::-webkit-input-placeholder {
    color: #9099a4
}

.confirmation-modal-inner input:focus::placeholder {
    color: #9099a4
}

.confirmation-modal-inner-buttons-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.disabled-btn {
  background-color: #e3e5e8 !important;
    color: #9099a4 !important;
    cursor: not-allowed;
}

.largeButton {
    padding: 15px 40px;
    border-radius: 3px;
    width: 100%;
}

.yes-button {
    color: #fff;
    background-color: #7289da;
}

.disabled-link {
  pointer-events: none;
  user-select: none;
  opacity: 0.3;
}

.yes-button:hover {
  background-color: #7f98f4;
}

.no-button {
    background-color: #4f545c;
    color: #fff;
}

.no-button:hover {
  background-color: #5f656f;
}

.loginPage-submit-button {
  background-color: #fff;
  color: #7289da;
  cursor: pointer;
  font-weight: 700;
  font-size: 10px;
  padding: 20px 45px 17px;
  transition: 0.3s;
  white-space: nowrap;
  width: 100%;
}

.loginPage-submit-button:hover {
  background-color: #8EA1E1;
  color: white;
}

.loginPage-card-text {
  margin-top: 15px;
}

button {
  border: 0;
  cursor: pointer;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.loginPage-account {
  width: 50px;
  height: 50px;
}

.avatar {
  background-clip: padding-box;
  background-color: transparent;
  background-position: 50%;
  background-size: 100%;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.admin-logo img {
  width: 125px;
  margin-bottom: 15px;
}

.mainPage-container {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;
  padding: 10px;
}

.mainPage-sidebar {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 0 0 auto;
  margin-left: 0;
  margin-right: 10px;
  width: 220px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mainPage-sidebar-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 auto;
  height: 40px;
}

.mainPage-sidebar-header a {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.mainPage-sidebar-header a img {
  height: 25px;
  margin-top: -15px;
  margin-left: 5px;
}

.mainPage-sidebar-components {
  flex: 1 1 auto;
  margin-left: -16px;
  margin-top: -5px;
}

.mainPage-sidebar-subheader {
  color: #4f5660;
  font-size: 10px;
  font-weight: 800;
  line-height: 16px;
  padding: 8px 20px;
  text-transform: uppercase;
}

.mainPage-main {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;
  margin-right: 0;
  margin-left: 10px;
}

.mainPage-main-components-popouts-container {
  height: 0;
  right: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 5;
}

.mainPage-main-popouts {
position: absolute;
  top: 30px;
  right: 10px;
}

.mainPage-main-components-dropDownMenu {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    padding: 8px 0;
    width: 200px;
}

.mainPage-main-components-dropDownMenu-item {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: #4f5660;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px 20px;
}

.mainPage-main-components-dropDownMenu-item:hover {
  background-color: #e3e7f8;
    color: #7289da
}

.mainPage-sidebar-components a {
  color: #00b0f4;
  cursor: pointer;
  text-decoration: none !important;
}

.not-allowed-dropdown {
  color: #d4d4d4 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.pd2 {
  padding: 12px 25px !important;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-field {
  width: 275px;
  height: 33px;
  padding: 0 10px;
  border: 1px solid #0000001f;
  border-radius: 3px;
  color: #000000;
  text-align: left;
  transition: border-color 0.15s ease;
  outline: none;
}

.input-field::placeholder {
  color: #d3d3d366;
}

.input-field:hover {
  border-color: #040405;
}

.input-field::selection {
  border-color: #040405;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-field:focus {
  border-color: #7289da;
}

.textarea-reports {
  resize: vertical;
  width: 100%;
  background-color: #e3e5e8;
  color: #9099a4;
  cursor: not-allowed;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #e3e5e8;
  color: #4f5660;
  display: block;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  outline: none;
  padding: 10px 14px;
  width: 320px;
}

.no-margin-override {
  margin-top: auto !important;
  margin-bottom: auto !important; 
}

.textarea-reports:disabled, .textarea-reports:disabled:hover {
    box-shadow: 0 0 0 1px #e3e5e8;
}

.selected-report-entry {
  background: #cbd8eb;
}

.mainPage-sidebar-menuItem {
  color: #9099a4;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
  color: #9099a4;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  margin-left: 5px;
}

.mainPage-sidebar-menuItem-active {
  color: #7289da;
}

.mainPage-sidebar-menuItem:hover {
  background-color: #e3e7f8;
  color: #7289da;
}

.mainPage-sidebar-menuText {
  margin-left: 10px;
}

.mainPage-main {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;
  margin-right: 0;
  margin-left: 10px;
}

.mainPage-main-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 auto;
  height: 40px;
  margin-bottom: 20px;
}

.mainPage-main-header-components {
  flex: 1 1 auto;
  margin-left: 0;
  margin-right: 10px;
}

.mainPage-main-header-avatar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
  margin-right: 0;
  margin-left: 10px;
}

.mainPage-main-header-avatar-icon {
  background-clip: padding-box;
  background-color: transparent;
  background-position: 50%;
  background-size: 100%;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: -20px;
}

.searchbar-input {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: -20px;
}

.searchbar-input-text {
  flex: 0 0 auto;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #e3e5e8;
  color: #4f5660;
  display: block;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  outline: none;
  padding-left: 10px;
  text-align: left;
  width: 100%;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 4px 0 #0000001a;
}

.searchbar-input-text::placeholder {
  color: #E3E5E8;
}

.searchbar-input-text {
  color: #7289DC;
}

.searchbar-input-text input:focus::placeholder {
  color: #7289DC;
}

.searchbar-input-text:hover::placeholder {
  color: #9099A4;
}

.searchbar-input-text input {
  height: 40px;
}

.input-error {
  border: 1px solid rgb(204, 19, 19);
  margin-top: -20px;
}

.input-error-text {
  color: rgb(204, 19, 19);
  margin-top: 5px;
  margin-left: 5px;
}

.input-shift {
  margin-top: 20px; 
}

.input-button-shift {
  margin-top: -20px;
}

.mainPage-main-components {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;
}

.mainPage-main-components-sidebar {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 0 0 auto;
  margin-left: 0;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  padding: 40px;
  position: relative;
  text-align: center;
  width: 346px;
}

.server-card {
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 140px;
}

.server-card-details-wrapper {
  display: flex;
  flex-direction: column;
}

.server-card-details-header {
  display: flex;
  flex-flow: row;
}

.server-card-details-img-and-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.server-card-details-img-and-text img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.server-card-details-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.server-card-details-text h1 {
  margin: 0 0 5px 0;
  color: #4F5660;
}

.server-card-details-text p {
  margin: 0;
  color: #929BA6;
}

.server-card-details-footer {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  color: #4F5660;
}

.server-card-details-footer button {
  margin-right: 20px;
  width: 100px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #de4242;
  color: #919AA5;
  height: 30px;
  transition: 0.3s;
}

.server-card-details-footer button:hover {
  background-color: #de4242;
  color: white;
}

.server-card-details-footer span {
  margin-right: 20px;
  margin-top: 5px;
}

.server-card > img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.server-cards-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mainPage-main-components-main {
  display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1 1 auto;
    margin-right: 0;
    margin-left: 10px;
}

.mainPage-main-components-sidebar-menuButton {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #9099a4;
  cursor: pointer;
  user-select: none;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
  text-align: center;
}

.mainPage-main-components-sidebar-guildAvatar {
  margin-bottom: 20px;
}

.guildAvatar {
  width: 100px;
  height: 100px;
}

.mainPage-main-components-sidebar-text {
  color: #4f5660;
  font-size: 24px;
  line-height: 30px;
}

.mainPage-main-components-sidebar-separator {
  background-color: #f6f6f7;
    height: 1px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.mainPage-main-components-sidebar-buttons {
  margin-top: 10px;
  margin-bottom: -20px;
}

.mainPage-main-components-sidebar-buttons button {
  width: 100%;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #de4242;
  color: #919AA5;
  height: 30px;
  transition: 0.3s;
  margin-top: 10px;
}

.mainPage-main-components-sidebar-buttons button:hover {
  background-color: #de4242;
  color: white;
}

.mainPage-main-components-sidebar-infoLine {
  color: #4f5660;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 0;
  text-align: left;
}

.mainPage-main-components-sidebar-label {
  color: #9099a4;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.bold {
  color: #000000 !important;
  font-size: 13px;
  font-weight: 500;
}

.message-result-container {
    border-bottom: 1px solid #f6f6f7;
    flex-direction: row;
    padding: 15px;
    display: flex;
    position: relative;
    width: 100%;
}

.message-result-top {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.message-result-top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.message-result-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.message-result-body h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 8px 0;
    color: #333;
    word-wrap: break-word;
}

.message-result-body span {
    color: #858484;
    margin-bottom: 5px;
    font-size: 14px;
}

.subsection-sidebar-info {
    background: #f7f5f5;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 7px;
}

.subsection-sidebar-info::before {
    content: var(--subsection-header);
    text-align: left;
    position: absolute;
    left: 40px;
    background: #7289da;
    color: white;
    padding: 5px;
    width: 336px;
    margin-top: -15px;
    font-size: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.subsection-sidebar-info::after {
    content: var(--subsection-status-symbol);
    position: absolute; 
    padding: 5px;
    font-size: 12px;
    position: absolute;
    text-align: right;
    top: 297px;
    right: 42px;
    color: white;
}

.message-result-attachments {
    display: flex;
    align-items: flex-end;
}

.message-attachments {
    flex-flow: wrap;
    gap: 8px;
    display: flex;
    margin-left: 10px;
}

.attachment-detail {
  color: #333;
  cursor: pointer;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
  transition: background-color .2s;
  display: flex;
  align-items: center;
}

.attachment-detail svg {
  height: 15px;
  width: auto;
  fill: currentColor;
  margin-right: 5px;
}


.attachment-detail span {
  margin-bottom: 0;
}

.selected-message {
  background-color: #7289da;
  color: white;
   border-bottom: none !important;
}


.selected-message > .message-result-body > .message-header-details > h1 {
  color: white !important;
}

.selected-message > .message-result-body > h1 {
  color: white !important;
}

.selected-message > .message-result-body > .message-result-attachments > span {
  color: white !important;
}

.selected-message > .message-result-body > .message-result-attachments > .message-attachments > .attachment-detail {
  color: white !important;
      border: 1px solid #9ca6ff !important;

}


.selected-message > .message-result-body > .message-result-attachments > .message-attachments > .attachment-detail:hover {
       background-color: #687ecb !important;
}


.selected-message > .message-result-body > .message-result-attachments > .message-attachments > .attachment-detail > span {
  color: white !important;
}

.attachment-detail:hover {
    background-color: #d8dce0;
}

.message-header-details {
    display: flex;
    align-items: baseline;
}

.message-header-details h1 {
    color: #2c2f33;
    margin: 0 5px 0 0;
    font-size: 16px;
    font-weight: 600;
}

.message-result-username {
  transition: border 0.2s ease-out, background-color 0.2s ease-out, padding 0.2s ease-out;
}

.message-result-username:hover {
   border: 1px solid #9ca6ff !important;
    border-radius: 3px;
    background-color: #687ecb !important;
    color: white;
    padding-left: 1px;
    padding-right: 1px;
}

.message-result-avatar {
  transition: border 0.2s ease-out, background-color 0.2s ease-out, padding 0.2s ease-out;
}

.message-result-avatar:hover {
   border: 1px solid #9ca6ff !important;
    background-color: #687ecb !important;
    padding-left: 1px;
    padding-right: 1px;
}

.message-header-details span {
    font-size: 13px;
    color: #bababa;
    font-weight: 400;
} 

.message-actions {
    position: absolute;
    right: 50px;
}

a {
  color: #00b0f4;
  cursor: pointer;
  text-decoration: none;
}

.mainPage-main-components-wrapper {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;
  margin-bottom: 20px;
}

.mainPage-main-components-infoCard {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  overflow: hidden;
  
}

.mainPage-main-components-infoCard-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 auto;
  border-bottom: 1px solid #f6f6f7;
  color: #4f5660;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
}

.mainPage-main-components-infoCard-components {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;

}

.mainPage-main-components-infoCard-table {
  border-collapse: collapse;
  width: 100%;
}

.mainPage-main-components-infoCard-table-th {
  white-space: normal;
  color: #9099a4;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 15px 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.mainPage-main-components-infoCard-table-th-header {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.mainPage-main-components-infoCard-table-tr {
  cursor: pointer;
}

.mainPage-main-components-infoCard-table-tr:hover {
  background-color: #F8F9F9;
}

.mainPage-main-components-infoCard-table-td {
  white-space: normal;
  color: #4f5660;
  font-size: 16px;
  height: 60px;
  line-height: 19px;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.mainPage-main-components-infoCard-table-member {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-collapse: collapse;
}

.mainPage-main-components-infoCard-table-member-avatar {
  flex: 0 1 auto;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.mainPage-main-components-infoCard-table-member-username {
  flex: 1 1 auto;
  margin-right: 0;
  margin-left: 10px;
  white-space: normal;
  color: #4f5660;
  font-size: 16px;
  line-height: 19px;
  margin-left: -50px;
}

.mainPage-main-components-infoCard-footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 auto;
  border-top: 1px solid #f6f6f7;
  color: #4f5660;
    font-size: 20px;
    line-height: 24px;
    padding: 20px;

}


.mainPage-main-components-navigation {
  display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    margin-right: 0;
    margin-left: 0;
}

.mainPage-main-components-paginator {
  box-shadow: 0 0 0 1px #e3e5e8;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  user-select: none;
  color: #4f5660;
  font-size: 20px;
  line-height: 24px;
}

.mainPage-main-components-paginator-inner {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  user-select: none;
  color: #4f5660;
  font-size: 20px;
  line-height: 24px;
}

.mainPage-main-components-paginator-arrow {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  color: #c7ccd1;
  cursor: pointer;
  width: 40px;
  user-select: none;

}

.mainPage-main-components-paginator-arrow-icon {
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}

.mainPage-main-components-paginator-arrow:hover {
  color: #8ea1e1;
}


.mainPage-main-components-paginator-separator {
  flex: 0 0 auto;
  background-color: #e3e5e8;
  height: 100%;
  width: 1px;
  
}

.mainPage-main-components-paginator-pages {
  color: #9099a4;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 10px 10px;
    text-transform: uppercase;
    vertical-align: middle;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    border-bottom: 1px solid #f6f6f7;
}

.mainPage-main-components-infoCard-row {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1 1 auto;
    margin-bottom: 20px;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.search-no-results {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  text-align: center;
}

.search-no-results > p {
  color: #52575F;
  font-size: 18px;
}

.search-no-results > img {
  width: 100px;
  margin-top: 20px;
}

.update-available {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.update-available-text {
  display: flex;
  align-items: center;
}

.update-available svg {
  fill: currentColor;
  width: 24px;
  height: auto;
  margin-right: 5px;
}

.update-available-commit, .update-available-instructions {
  margin-top: 10px;
  font-size: 14px;
}

.update-available-commit p, .update-available-instructions p, .update-available-instructions li {
  margin: 5px 0 5px 0;
}

.block {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 5px 0 5px;
}
