.selector-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.build-changlog-card {
  height: 800px;
  align-items: unset;
  width: 490px;
  min-width: 460px;
  max-width: 100%;
  padding: 0px 0px 0px 20px;
}

.selector-card {
  width: 740px;
  min-width: 460px;
  max-width: 100%;
  height: 800px;
}

.selector-card h1 {
  font-size: 26px;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
}

.selector-card h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  color: #72767d;
  text-align: center;
}

.selector-card p {
  text-align: center;
}

.build-option-section {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.unimplemented-button {
  background-color: #464952 !important;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0px,
    transparent 2px,
    #5a5e68 2px, 
    #5a5e68 4px
  ) !important;
  opacity: 0.3;
}

.welcome-back-header {
  width: 100%;
}

.welcome-back-header .page-info-body {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.welcome-back-header h2 {
  text-transform: unset;
}

.version-three-text {
    -webkit-text-stroke: .5px gray;
    color: #1c191c21;
    text-align: center;
    font-family: Nebula Sans;
    font-size: 70px;
    font-weight: 700;
    text-shadow: -5px 5px #4b4b4b70;
    filter: contrast(.4) drop-shadow(5px -6px 0px gray);
    opacity: 0.8; /* a bit darker for readibility*/
    letter-spacing: 5px;
}

.instance-section {
  background-color: #2f3136;
  border: 1px solid #202225;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  color: #dcddde;
  width: 100%;
  margin-bottom: 20px;
}

.important-information {
  margin-top: 20px;
}



.instance-section .legal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.selector-card .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.notice {
  position: fixed;
  bottom: 10px;
  left: 15px;
  font-size: 12px !important;
  line-height: 14px !important;
  color: white;
  opacity: 0.5;
}
