.auth-copyright::after {
  font-weight: bold;
  font-size: 12px;
  content: ' This is not official Discord. Oldcord is an old Discord historical preservation/revival project and is not affiliated with or endorsed by Discord, Inc. Do not login with your Discord account.';
}

.auth-inner .auth-logo {
  width: 168px !important;
  height: 168px !important;
  background: url('/assets/logo2017.svg') !important;
  background-size: 168px 168px !important;
  background-size: 168px 168px !important;
  background-size: 168px 168px !important;
}

.auth-name {
  display: none !important;
}

a[class^='logo-'],
form[class^='authBox-']::before {
  background: url('/assets/logo.svg') !important;
  width: 152px !important;
  height: 30px !important;
}

form[class^='authBox-'] div[class^='subTitle-']::after {
  content: '\AThis is not official Discord. Do not login with your Discord account.';
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 12px;
}
